body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.sidenav {
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 50px;
  background: #5f788a;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}

.sidenav a:hover {
  color:  #fafafa;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sidedisplay {
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 150px;
  right: 200px;
  background: #5f788a;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidedisplayb {
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 350px;
  right: 200px;
  background: #5f788a;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidedisplayc {
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 550px;
  right: 200px;
  background: #5f788a;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidedisplayd {
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 300px;
  right: 800px;
  background: #5f788a;
  overflow-x: hidden;
  padding: 8px 0;
}
.sidedisplay h6 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}
.sidedisplayb h6 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}
.sidedisplayc h6 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}
.sidedisplay p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}
.sidedisplayb p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}
.sidedisplayc p {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #cbd5db;
  display: block;
}
.content{
max-width: 500px;
margin: auto;
}