{% extends "layout.html" %}
{% block content %}
    {% for application in applications %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ application.name + " " + application.last_name }}</a>
                </div>
                <p class="article-content">Email : {{ application.email }}</p>
                <p class="article-content">interest :{{ application.interest }}</p>
                <p class="article-content">Credentials :{{ application.credentials }}</p>
                <p class="article-content">Reference : {{ application.referee.username}}</p>
                <p class="article-content">Reference email : {{ application.referee.email}}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}