{%extends "layout.html"%}
{%block content%}
<h5 style="text-align: left">Top Three Users</h5>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col">Rating</th>
        <th scope="col">VIP</th>
      </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.rating }}</td>
            <td>{{ user.is_vip }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  <br>
  <br>
  <br>
  <h5 style="text-align: left">Top Three Projects</h5>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Project</th>
          <th scope="col">Description</th>
          <th scope="col">Rating</th>
        </tr>
      </thead>
      <tbody>
          {% for project in projects %}
          <tr>
              <td>{{ project.id }}</td>
              <td>{{ project.title }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.rating }}</td>
          </tr>
      {% endfor %}
      </tbody>
    </table>
{%endblock%} 