{% extends "layout.html" %}
{% block content %}
{% if posts.items|length < 1 %}
<h4 style="text-align: center">There are no messages.</h4>
{% else %}
{% for post in posts.items %}
{%if post.mess_type == 'invite'%}
    <article class="media content-section">
        <div class="media-body">
        <h3 class="article-title">Invite form user "{{ post.from_user }}" to join "{{ post.title }}"</h3>
        <p class="article-content">Group Description: {{ post.content }}</p>
        <div class="article-metadata">
          <button type ="button" class ="btn btn-success btn-sm m-1" data-toggle= "modal" data-target="#acceptModal" >Accept</button>
          <button type ="button" class ="btn btn-danger btn-sm m-1" data-toggle= "modal" data-target="#declineModal">Decline</button>
        </div>
      </div>
    </article>
    <div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="acceptModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="acceptModalLabel">Accept Invite</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to accept the invite?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="{{ url_for('accept_message', message_id=post.id) }}" method="POST">
              <input class="btn btn-primary" type="submit" value="Accept">
                <div class="form-check float-right">
                  <input class="form-check-input" type="checkbox" id="defaultCheck1" name="whitelist" value="white">
                  <label class="form-check-label" for="defaultCheck1">
                    whitelist user
                  </label>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="declineModal" tabindex="-1" role="dialog" aria-labelledby="declineModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="declineModalLabel">Decline Invite</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure to decline the invite?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <form action="{{ url_for('decline_message', message_id=post.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Decline">
              <div class="form-check float-right">
                <input class="form-check-input" type="checkbox" id="defaultCheck2" name="blacklist" value="black">
                <label class="form-check-label" for="defaultCheck2">
                  blacklist user
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {%else%}
  <form action="{{ url_for('remove_message', message_id=post.id) }}",method='POST'>
    <article class="media content-section">
      <div class="media-body">
      <h3 class="article-title">{{post.title}}</h3>
      <p class="article-content">{{ post.content }}</p>
      <button type="submit" class="btn btn-primary">Remove</button>
      </div>
    </article>
  </form>
    {%endif%}
{% endfor %}
{%endif%}
{% endblock content %}