{%extends "layout.html"%}
{%block content%}
    {%if current_user.is_su%}
        <h1 class="display-3" >Super User Window</h1>
        <form class="needs-validation" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='{{ url_for('applications') }}';">Applications</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='{{ url_for('compliments') }}';">Compliments</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='{{ url_for('complaints') }}';">Complaints</button>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='{{ url_for('user_blacklist') }}';">Blacklisted Users</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-primary btn-block" onclick="window.location.href='{{ url_for('taboo') }}';">Taboo Words</button>
                </div>
                <div class="col-md-4 mb-3">
                    <button type="button" class="btn btn-primary btn-block">Large button</button>
                </div>
            </div>
        </form>
    {%endif%}
{%endblock%} 